<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tj.ict_hsc">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tutorial" />
        <activity android:name=".MCQ" />
        <activity android:name=".Quiz" />
        <activity android:name=".MainActivity" />
        <activity android:name=".About" />
        <activity android:name=".Third" />
        <activity android:name=".knowledge" />
        <activity android:name=".knowledge_details" />
        <activity android:name=".MCQ_Details"></activity>
    </application>

</manifest>